/* Estilo para el formulario de inicio de sesión */
form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 300px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

table {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

h4 {
	margin-top: 0;
	text-align: center;
}

td {
	padding: 10px;
	text-align: center;
}

input[type="text"],
input[type="password"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 2px solid #ccc;
	font-size: 16px;
}

input[type="submit"] {
	display: block;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	color: black;
}